/*css reset si mette sempre */
*{
    box-sizing: border-box;/*dimensioni contenitore*/
    margin: 0;
    padding: 0;
    
}


body{
    /*scelgo il font di default di tutta la pagina*/
    background-color: rgb(241, 242, 246);
    font-family: Arial, Helvetica, sans-serif;
    
}

.container{

    text-align: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 1px;
    background-color: white;
    padding-left: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    

}
.container-due{
    text-align: left;
    line-height: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 20px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


}


/*commons*/
.btn{
    color: rgba(211, 211, 211, 0.98);
    text-decoration: none;
    border: 1px solid rgb(209, 208, 208);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;/*risulta lo spzi del bottone e non solo della scritta contenuta*/
    
}
.btn-blu{
    background-color: rgb(13, 185, 243);
    border-color: rgb(13, 185, 243);
    color: white;
    display: inline-block;
}

/*header*/
header{
    background-color: white;
    padding: 10px;
    /*metti padding per aumentare lo spazio sotto il titolo*/
    
}
/*top*/
.top{
    padding: 10px;

}
.task{
    padding: 50px;
    
}

ul{
    list-style: none;
}
.circle{
    color: rgb(98, 205, 98);
    border: 1px solid rgb(98, 205, 98);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    font-size: 11px;
    text-align: center;
    line-height: 15px;
    
}
.circle-red{
    color: rgb(238, 50, 29);
    border: 1px solid rgb(238, 50, 29);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    font-size: 11px;
    text-align: center;
    line-height: 15px;
}
.tasto{
  color: white;
  padding: 6px;
  font-size: 8px;
  height: 15px;
  border-radius: 10px;
}
.blu{
    background-color: rgb(53, 201, 255);
}
.viola{
    background-color: blueviolet;
}
.verde{
    background-color: rgb(37, 245, 179);
}
.arancione{
    background-color: rgb(255, 138, 42);
}
.rosa{
    background-color: rgb(255, 39, 161);
}
.verdino{
    background-color: rgb(132, 255, 79);
}
.main-list li{
    padding-bottom: 10px;
}